.skills-container .skill:nth-child(odd) .skill-level {
  background: repeating-linear-gradient(45deg, rgba(197, 156, 108, 0.2), rgba(197, 156, 108, 0.2) 10px, rgba(197, 156, 108, 0.4) 10px, rgba(197, 156, 108, 0.4) 20px);
}
.skills-container .skill:nth-child(even) .skill-level {
  background: repeating-linear-gradient(45deg, rgba(61, 61, 61, 0.2), rgba(61, 61, 61, 0.2) 10px, rgba(61, 61, 61, 0.1) 10px, rgba(61, 61, 61, 0.1) 20px);
}

.skill {
  display: flex;
  margin-bottom: 10px;
}

.skill-label {
  background-color: #fff;
  padding: 5px 10px 5px 0;
  text-align: right;
  min-width: 115px;
  z-index: 1;
}

.skill-bar {
  background-color: whitesmoke;
  display: flex;
  width: 100%;
}
.skill-bar .skill-level {
  display: flex;
  align-items: center;
  width: 0%;
  position: relative;
  transition: width 2s ease-in-out;
}
.skill-bar .skill-level:after {
  position: absolute;
  right: 10px;
  color: #000;
  content: attr(data-percent);
  text-shadow: 1px 1px white;
}

.skills-container:last-child .skill {
  position: relative;
}
